@model SchoolSharedInfo.Models.FechaInscripcion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FechaInscripcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.NombreCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.NombreCurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInscripcionInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInscripcionInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinalSemestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinalSemestre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FechaInscripcionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
