@model IEnumerable<SchoolSharedInfo.Models.FechaInscripcion>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de Alumnos</h2>

<p>
    @Html.ActionLink("Agregar Nuevo Registro", "Create", "Inscripcion")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.NombreCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInscripcionInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinalSemestre)
        </th>
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alumno.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.NombreCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInscripcionInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinalSemestre)
        </td>
        <td>
            
            @Html.ActionLink("Editar Registro", "Edit", "Inscripcion", new { id = item.FechaInscripcionID }) |
            @Html.ActionLink("Details", "Details", new { id = item.FechaInscripcionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FechaInscripcionID })
        </td>
    </tr>
}

</table>
